{% extends 'withlogin.html' %}
{% block title %}Return Book{% endblock %}
{% block content %}
<form class='text-center mt-5 container' style="width: 60%;" action='/return/book' method='POST'>
    {% for message in get_flashed_messages() %}
    <div class='alert alert-warning'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        {{message}}
    </div>
    {% endfor %}
    <h1 class='display-4 text-center'>Return Book</h1><br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-book"></i></span>
        </div>
        {% if flag==True %}
        <select name="book" class="form-control" required autofocus placeholder='Select'>
            {% for book in books %}
            <option value='{{ book.id }}' name='book' disabled>{{ book.name }} by {{ book.author }}</option>
            {% endfor %}
        </select>
        {% else %}
        <select name="book" class="form-control" required autofocus placeholder='Select'>
            {% for book in books %}
            <option value='{{ book.copies.id }}' name='book'>{{ book.copies.name }} by {{ book.copies.author }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>

    <button class='btn btn-lg btn-primary btn-block' type='submit'>Submit</button>
</form>
{% endblock %}